<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page 1</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:99px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>The app is running correctly. And is continuously integrating</h1>
    <h2>The app is running way too light</h2>

    <h3>The app is magic</h3>


    <p>Welcome to the Sparta Test App</p>
    <img src="/images/logo.png" />
  </div>
</body>
</html>